	/* CASCADING STYLE SHEETS */
	*{	/* global attribute */
		margin : 0;
		padding : 0;
	}
	body {
		font-family: Courier;
		background: #222 url(../images/skyrim_screenshot.jpg);
		background-repeat: no-repeat;
		background-position: center top; 
		background-attachment: fixed;
		color: #fff;
	}
	p {
		color: orange;
		font-family: Verdana;
		margin-bottom : 20px;
		line-height: 28px;
		/*
		width:200px;
		margin-left:100px;
		height : 500px;*/
		background: blue;
		overflow : auto;
	}
	
	h1 { 
		color: purple;
	}
	
	p, h1 {
		/*text-decoration:line-through;*/
		
	}
	
	ul {
		background: orange;
	}
	
	ul li {
		background: purple;
	}
	
	section ul {
		background: black;
	}
	
	section ul li {
		background: #00b5ff;
	}
	
	/* HYPERLINKS */
	/* pseudo selector */
	a:link {
		color: red;
		text-decoration: none;
		
		}
	
	a:visited {
		color: green;
		text-decoration: none;
		 }
	
	a:hover {
		color: orange;
		text-decoration: underline;
		 }
	
	a:active {
		color: white;
		text-decoration: none;
		 }

	p a:link {
		color: purlple;
		font-size: 40px;
		background: white;
		padding: 10px;
	}
	
	p a:visited {
		color: silver;
		font-size: 40px;
	}
		
	span {
		background: pink;
	}
	/* CLASSES */
	.legal {
		color: white;
		font-size: 50px;
	}
	
	.promotion {
		background: pink;
		font-weight: bold;
		color : hotpink;
		border : 8px solid hotpink;
		border-bottom : 4px dashed white;
		/*padding : 30px;*/
		/*padding : 50px 10px;  top/bottom && left/right*/
		padding : 100px 50px 100px 50px; /*start from TOP, clockwise direction */
	/*	padding-top : 20%;*/	
	/*
		margin-left : 50px;
		margin-right : 50px;
		margin-top : 100px;
		margin-bottom : 100px;*/

		margin : 50px 0px 50px 0px; /*start from the TOP, clockwise direction */
	
		width : 1000px; height : 400px;
	}
	
	.game-thing {
		background: #8A8A8A url(../images/skyrim_screenshot.jpg);
		margin-bottom: 30px;

	}
	
	.header {
		background: yellow;
	}
	
	#heroimage {
		border: 10px solid blue;
	}